h1 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 5px;
}

h2, h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

main {
    padding: 10px 30px;
}

@media screen and (min-width: 768px) {
    main {
        font-size: 1.05rem;
        padding: 10px 80px;
    }
    .formula {
        font-size: 1.05em !important;
    }
}

@media screen and (min-width: 1200px) {
    main {
        font-size: 1.1rem;
        padding: 10px 150px;
    }
    .formula {
        font-size: 1.1rem !important;
    }
}

.formula {
    font-size: 0.7rem;
}

.header-account {
    margin-left: auto;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}

.input-group {
    display: flex;
}

.input-group input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.input-group button {
    width: 20%;
    background-color: #4a90e2;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.input-group button:hover {
    background-color: #357ab7;
}

#facility-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

#facility-list .facility-tag {
    padding: 6px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-size: 0.9rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #333;
    cursor: default;
}

.frequency-1 {
    background-color: #f0f0f0;
}

.frequency-2 {
    background-color: #add8e6;
}

.frequency-3 {
    background-color: #FFDC64;
}

#facility-list .delete-button {
    background: transparent;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 1.2rem;
}

#facility-list .delete-button:hover {
    color: #d72d2d;
}

#map {
    height: 600px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#evaluate-button {
    width: 100%;
    background-color: #4a90e2;
    color: white;
    padding: 10px 0;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#evaluate-button:hover {
    background-color: #357ab7;
}

#score-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#score-table th {
    border: 1px solid #ddd;
    padding: 3px;
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    text-align: center;
}

#score-table td {
    border: 1px solid #ddd;
    padding: 3px 10px;
    font-size: 0.9rem;
}

.facilities-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

.delete-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
}
