body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.page-header {
    background-color: #ffffff;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
}

.hero-header {
    padding: 40px 30px;
}

h1, h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #4a90e2;
}

a {
    color: #4a90e2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.input-group {
    display: flex;
}


.input-group input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.input-group button {
    width: 20%;
    background-color: #4a90e2;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.input-group button:hover {
    background-color: #357ab7;
}

#destination-list {
    list-style-type: none;
    padding-left: 0;
}

#destination-list .destination-tag {
    padding: 8px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #333;
    cursor: default;
}

.frequency-1 {
    background-color: #f0f0f0;
}

.frequency-2 {
    background-color: #add8e6;
}

.frequency-3 {
    background-color: #FFDC64;
}

#destination-list .delete-button {
    background: transparent;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 1.2rem;
}

#destination-list .delete-button:hover {
    color: #d72d2d;
}

#map {
    height: 600px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#search-button {
    width: 100%;
    background-color: #4a90e2;
    color: white;
    padding: 15px 0;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#search-button:hover {
    background-color: #357ab7;
}